@page "/"
@layout IndexLayout
@code{
}
<h2 style="color: #adffff">جعبه ابزار غربال</h2>
<p class="result-stats" style="margin-top: 4vh; color: #f5f3c2;">برای شروع یک  بخش را از منو کنار صفحه انتخاب کنید</p>
